header {
  background-color: #ffd778;
  background-image: url("../assets/background.jpg");
  background-size: contain;
  border: 2px solid #ff0000;
  border-radius: 10px;
  margin: 25px;
  height: 300px;
}
